* {
  margin: 0;
  padding: 0;
  background-color: grey;
  text-align: center;
}

div.contenedor {
  margin: 10px auto;
  width: 565px;
  height: 200px;
  /*align-items: center;
    justify-content: center;*/
  background-color: grey;
}
/*button.boton{
    width: 170px;
    height: 200px;
    float:left;
    margin: 4px;
    background-color:cornflowerblue;
}*/
.barra {
  float: left;
  width: 400px;
  height: 30px;
  margin: 2px;
}
button.resultado {
  display: block;
  float: left;
  margin: 2px;
  height: 30px;
  width: 150px;
}
.digitos {
  clear: left;
}
button.numeros {
  margin: 1px;
  float: left;
  width: 90px;
  height: 50px;
  background-color: darkorange;
}
button.operadores {
  margin: 1px;
  float: left;
  width: 90px;
  height: 50px;
  background-color: cyan;
}
* {
  margin: 0;
  padding: 0;
}

div.contenedor {
  margin: 10px auto;
  width: 565px;
  height: 200px;
  /*align-items: center;
    justify-content: center;*/
  background-color: grey;
}
/*button.boton{
    width: 170px;
    height: 200px;
    float:left;
    margin: 4px;
    background-color:cornflowerblue;
}*/
.barra {
  float: left;
  width: 400px;
  height: 30px;
  margin: 2px;
}
button.resultado {
  display: block;
  float: left;
  margin: 2px;
  height: 30px;
  width: 150px;
}
.digitos {
  clear: left;
}
button.numeros {
  margin: 1px;
  float: left;
  width: 90px;
  height: 50px;
  background-color: darkorange;
}
button.operadores {
  margin: 1px;
  float: left;
  width: 90px;
  height: 50px;
  background-color: cyan;
}

footer {
  color: white;
}
